body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0 0 10px 0;
}

a:link {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}

.video,
.terms {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.video {
  position: sticky;
  top: 0;
  z-index: 99;
}

.main-content {
  z-index: 0;
  padding: 20px 10px;
}

.intro {
  font-size: 20px;
  font-weight: 200;
  padding: 16px 20px 4px 20px;
  margin-bottom: 20px;
}

.main-docs-link {
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(65, 101, 148, 1);
  color: white;
  margin: 18px auto;
  border-radius: 99px;
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
}

.item-row {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.title-row {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  #background-color: #f1f1f1;
  padding: 5px;
}
.title-row:after {
  content: "";
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 11px;
  width: 400px;
  height: 1px;
  background-color: #474747;
}

.summary-row {
  padding: 5px 16px;
  font-weight: 400;
}

.item-text {
  font-size: 17px;
  margin-left: 10px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 0;
}

i.button {
  font-size: 15px;
  margin-right: 10px;
  background-color: rgb(161 161 161);
  color: white;
  border-radius: 99px;
  padding: 5px;
  cursor: pointer;
}

.no-button {
  width: 48px;
}

.item-button {
  margin: auto;
  border-radius: 99px;
  padding: 5px 10px;
}

.quick-help {
  .border-radius: 99px;
  width: 30px;
  height: 30px;
}

.quick-help > .quick-help-hover {
  display: none;
}

.quick-help:hover > .quick-help-hover {
  display: inline;
  position: rela;
  width: 500px;
  max-width: 500px;
  background-color: #707070;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
